body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
#slide .item img {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
}
#slide .item span {
	width: 80vw;
	max-width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
	position: absolute;
	z-index: 1;
	font-size: 40px;
	text-align: center;
	white-space:normal;
	color: white;
}

#btnprev {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	cursor: pointer;
	background-image: url('../img/back.png');
}
#btnnext {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 100%;
	margin-left: -32px;
	cursor: pointer;
	background-image: url('../img/next.png');
}

#dots ul {
	list-style-type: none;
	position: relative;
	float: left;
}

#dots ul li {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: #478132;
	margin-left: 5px;
	cursor: pointer;
}
#dots ul li.active {
	background-color: #8add6d;
}